h1,
h2,
li {
    font-style: normal;
    font-family: "Helvetica", "Arial", sans-serif;
      }


body {
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.6;
    padding: 4em 1em;
    color: rgb(19, 17, 17);
    text-align: center;
    background-color: #5cd170;
  }
  
  h1,
  h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
  }

